/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

app/commands/.gitkeep
app/config/app.php
server.php
public/packages/.gitkeep
public/favicon.ico
*.properties
nbproject/project.xml
bootstrap/autoload.php
bootstrap/paths.php
nbproject/private/private.xml
app/config/auth.php
app/config/cache.php
app/config/compile.php
app/config/database.php
app/config/local/app.php
app/config/mail.php
app/config/packages/.gitkeep
app/config/queue.php
app/config/remote.php
app/config/session.php
app/config/testing/cache.php
app/config/testing/session.php
app/config/workbench.php
app/lang/en/pagination.php
app/lang/en/reminders.php
app/lang/en/validation.php
app/start/artisan.php
app/start/global.php
app/start/local.php
app/tests/ExampleTest.php
app/tests/TestCase.php
public/robots.txt